<%= form_for [task, comment] do |f| %>
  <article class="card comment-card">
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <div class="card-header">
      <h6 class="card-title"><strong><%= comment.new_record? ? "New comment" : "Edit comment" %> for <em>"<%= task.title %>":</em></strong></h6>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="comment-image col-md-2">
          <img src="https://placehold.it/75x75/<%= random_color_for(current_user) %>" alt="<%= current_user.name %>">
        </div>
        <div class="new-comment-content col-md-10">
          <%= f.text_area :content, placeholder: "Write your comment here...", rows: 3 %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span class="text-muted float-left"><em>Logged in as <%= current_user.name %></em></span>
      <%= f.submit class: "btn btn-primary float-right" %>
    </div>
  </article>
<% end %>
