<article class="card comment-card">
  <div class="card-header">
    <span class="card-subtitle float-right"><em class="text-muted"><%= comment.human_created_at %></em></span>
    <h6 class="card-title"><strong><%= comment.author.name %></strong> <span class="text-muted">wrote:</span></h6>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="comment-image col-md-2">
        <img src="https://placehold.it/75x75/<%= random_color_for(comment.author) %>" alt="<%= comment.author.name %>">
      </div>
      <div class="comment-content col-md-10">
        <p><%= comment.content %></p>
      </div>
    </div>
  </div>
</article>
