<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Task:</strong>
  <%= @comment.task %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Pinned:</strong>
  <%= @comment.pinned %>
</p>

<p>
  <strong>Edited:</strong>
  <%= @comment.edited %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
