<div class="card new-task-card">
  <%= form_for task do |f| %>

  <%= f.hidden_field :client_id %>

  <div class="card-header no-pad">
    <%= f.text_field :title, placeholder: "Task title", class: "new-task-title" %>
  </div>

  <div class="card-block">
    <%= f.text_area :content, placeholder: "What needs to be done?", class: "new-task-content" %>
  </div>

  <div class="card-footer">
    <%= f.submit "Create task", class: "btn btn-primary" %>
  </div>

  <% end %>
</div>
