<div class="row">
  <article class="card new-task col-md-10">
    <div class="card-block">
      <%= form_for task do |f| %>
      <%= f.hidden_field :client_id %>
      <div class="new-task-title"><%= f.text_field :title, placeholder: "Task title" %></div>
      <div class="new-task-content"><%= f.text_area :content, placeholder: "What needs to be done?" %></div>
      <div class="new-task-submit"><%= f.submit "Create task" %></div>
      <% end %>
    </div>
  </article>
</div>
