<a id="task_<%= task.id %>">
<article class="card task-card <%= task.status %>">
  <div class="card-header">
    <h4><%= task.title %></h4>
    <h6>
      <% task.labels.each do |label| %>
      <%= link_to label.name, label_path(label), class: "text-muted card-link" %>
      <% end %>
    </h6>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to "Summary", tasks_path + "#task_#{task.id}", class: "nav-link #{"active" if tab == :index}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Full (with comments)", task_path(task), class: "nav-link #{"active" if tab == :show}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit", edit_task_path(task), class: "nav-link #{"active" if tab == :edit}" %>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <p><%= task.content %></p>
  </div>
  <div class="card-footer">
    <span class="task-due-floater text-muted">
      <em>Due <%= task.human_due_date %></em>
    </span>
    <%= button_to "Request assistance", request_assistance_path(task), class: "btn btn-primary request-floater" %>
  </div>
</article>
</a>
