<a id="task_<%= task.id %>" class="task-card-anchor">
<article class="card task-card <%= task.status %>">
  <div class="card-header">
    <h4><%= task.title %></h4>
    <h6>
      <% task.labels.each do |label| %>
      <%= link_to label.name, label_path(label), class: "text-muted card-link" %>
      <% end %>
    </h6>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to "Summary", tasks_path + "#task_#{task.id}", class: "nav-link #{tab == :index ? "active" : "text-muted"}" %>
      </li>
      <li class="nav-item">
        <%= link_to "View (#{task.comments.any? ? pluralize(task.comments.count, "comment") : "no comments yet"})", task_path(task), class: "nav-link #{tab == :show ? "active" : "text-muted"}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit", edit_task_path(task), class: "nav-link #{tab == :edit ? "active" : "text-muted"}" %>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <p><%= task.content %></p>
  </div>
  <div class="card-footer">
    <span class="task-due-floater text-muted">
      <em>Due <%= task.human_due_date %></em>
    </span>
    <%= button_to "Request Assistance", request_assistance_path(task), class: "btn btn-primary request-floater" %>
    <%= button_to "Mark Complete", complete_task_path(task), class: "btn float-right" %>
  </div>
</article>
</a>
