<%= form_for task do |f| %>
  <div class="card-group new-task-card-group">
    <div class="card col-md-9">

      <%= f.hidden_field :client_id %>

      <div class="card-header no-pad">
        <%= f.text_field :title, placeholder: "Task title", class: "new-task-title" %>
      </div>

      <div class="card-block">
        <%= f.text_area :content, placeholder: "What needs to be done?", class: "new-task-content" %>
      </div>

      <div class="card-footer">
        <span class="float-right form-inline">
          Complete by:&nbsp;
          <%= f.datetime_select :due_date,
          {
            start_year: Time.now.year,
            order: [:month, :day, :year],
            default: 2.hours.from_now.localtime,
            ampm: true,
            minute_step: 15
          },
          {
            class: "form-control"
          } %>
        </span>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="card-header label-header text-center">
        Labels (<%= user_os_mac? ? "⌘" : "ctrl" %> + click for multiple)<br>
        <em><%= link_to "or, create new labels", new_label_path %></em>
      </div>
      <div class="card-block">
        <%= f.collection_select :label_ids, Label.all, :id, :name, {}, {class: "label-select", multiple: true} %>
      </div>
      <div class="card-footer">
        <%= f.submit "Create task", class: "btn btn-primary float-right" %>
      </div>
    </div>
  </div>
<% end %>
