<h1>Tasks</h1>

<%= render 'notification_sidebar' %>
<%= render 'reminder_sidebar' %>

<div class="row">
  <article class="new_task col-md-8 col-md-offset-2">
    <%= form_for @task do |f| %>
    <%= f.hidden_field :client_id %>
    <div class="new_task_title"><%= f.text_field :title, placeholder: "Task title" %></div>
    <div class="new_task_content"><%= f.text_area :content, placeholder: "What needs to be done?" %></div>
    <div class="new_task_submit"><%= f.submit "Create task" %></div>
    <% end %>
  </article>
</div>

<% @tasks.each do |task| %>
  <div class="row">
    <article class="task_card <%= task.status %> col-md-8 col-md-offset-2">
      <div class="task_title"><%= content_tag :strong, task.title %></div>
      <div class="task_content"><%= task.content %></div>
      <div class="task_labels">
        <ul>
          <% task.labels.each do |label| %>
          <li><em><%= link_to label.name, label_path(label) %></em></li>
          <% end %>
        </ul>
      </div>
      <div class="task_details">
        <span class="task_due_floater">Due: <%= task.human_due_date %></span>
        <span class="task_links_floater">
          <%= link_to "View", task_path(task) %>
          <%= link_to "Edit", edit_task_path(task) %>
        </span>
      </div>
      <div class="task_actions">
        <%= button_to "Request assistance", request_assistance_path(task) %>
        <button class="expand_label_form_button">Apply labels</button>
        <button class="expand_comments_button">Expand comments</button>
      </div>
    </article>
  </div>
<% end %>
