<article class="card new-reminder-card">
  <%= form_for [user, reminder] do |f| %>
    <div class="card-header">
      <h6 class="card-title">New reminder:</h6>
    </div>
    <%= f.text_area :content, rows: 3 %>
    <div class="form-group">
      <%= f.label :task_id, "Concerns task:" %>
      <%= f.collection_select :task_id, user.delegated_tasks, :id, :title %>
      <em>(optional)</em>
    </div>
    <div class="card-footer">
      <%= f.submit "Send Reminder", class: "btn btn-primary float-right" %>
    </div>
  <% end %>
</article>
