<h3 id="reminders-header" class="text-center">Reminders</h3>

<div class="reminders-nav-area">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="" class="nav-link active" id="new-reminders-tab-link">New</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link text-muted" id="dismissed-reminders-tab-link">Dismissed</a>
    </li>
  </ul>
</div>

<div class="reminder-card-list" id="new-reminder-card-list">
  <% reminders.not_dismissed.each do |reminder| %>
  <article class="card reminder-card <%= reminder.status %>">
    <ul class="list-group list-group-flush">
      <li class="list-group-item reminder-content"><%= reminder.content %></li>
      <%= link_to content_tag(:li, "Concerning '#{reminder.task.title}'", class: "list-group-item reminder-task task-#{reminder.task.status}"), task_path(reminder.task), class: "concerning-link" if reminder.task %>
      <li class="list-group-item reminder-created-at"><%= reminder.human_created_at %></li>
    </ul>
    <div class="card-footer">
      <%= button_to "Dismiss", dismiss_reminder_path(reminder), class: "btn float-right" %>
    </div>
  </article>
  <% end %>
</div>

<div class="reminder-card-list hidden-xs-up" id="dismissed-reminder-card-list">
  <% reminders.dismissed.each do |reminder| %>
  <article class="card reminder-card <%= reminder.status %>">
    <ul class="list-group list-group-flush">
      <li class="list-group-item reminder-content"><em><%= reminder.content %></em></li>
      <%= link_to content_tag(:li, "Concerning '#{reminder.task.title}'", class: "list-group-item reminder-task task-#{reminder.task.status}"), task_path(reminder.task), class: "concerning-link" if reminder.task %>
      <li class="list-group-item reminder-created-at"><%= reminder.human_created_at %></li>
    </ul>
  </article>
  <% end %>
</div>
