<h3 id="reminders-header" class="text-center">Reminders</h3>

<div class="reminders-nav-area">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="" class="nav-link active" id="new-reminders-tab-link"><%= current_user.client? ? "New" : "Sent" %></a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link text-muted" id="dismissed-reminders-tab-link">Dismissed<%= " by client" unless current_user.client? %></a>
    </li>
  </ul>
</div>

<div class="reminder-card-list" id="new-reminder-card-list">

  <% if current_user.assistant? %>
    <ul class="reminder-link-list">
      <% current_user.clients.each do |client| %>
        <li><%= link_to "Send a reminder to #{client.name}", new_user_reminder_path(client) %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render partial: 'reminders/reminder_card', collection: reminders.not_dismissed, as: :reminder %>
  
</div>

<div class="reminder-card-list hidden-xs-up" id="dismissed-reminder-card-list">
  <%= render partial: 'reminders/reminder_card', collection: reminders.dismissed, as: :reminder %>
</div>
