<a class="btn btn-warning float-right" href="/users/{{task.client.id}}/reminders/new?task_id={{task.id}}">Remind Client</a>
<%= form_tag '#', data: { action: "accept", task: "{{task.id}}" }, method: :post, class: "button_to task-action" do %>
  <%= submit_tag "Accept Task", class: "btn btn-primary float-right" %>
<% end %>
<%= form_tag '#', data: { action: "start", task: "{{task.id}}" }, method: :post, class: "button_to task-action" do %>
  <%= submit_tag "Begin Work", class: "btn btn-info float-right" %>
<% end %>
<%= form_tag '#', data: { action: "mark_complete", task: "{{task.id}}" }, method: :post, class: "button_to task-action" do %>
  <%= submit_tag "Mark Complete", class: "btn btn-success float-right" %>
<% end %>
