<%= form_for label do |f| %>
  <div class="card new-label-card">
    <div class="card-block">
      <div class="form-group">
        <%= f.label :name, "Label name:" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-check associated-tasks">
        <%= f.label :task_ids, "Associated tasks:" %>
        <%= f.collection_check_boxes :task_ids, policy_scope(Task), :id, :title do |b| %>
          <%= b.check_box class: "form-check-input" %>
          <%= b.label(class: "form-check-label") do %>
            <%= b.text %>
            <%= "(#{b.object.client.name})" unless current_user.client? %>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
