<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", required: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, class: "form-control" %>
  </div>

  <% if user.new_record? %>
    <div class="field form-group">
      <%= f.label :password %>
      <%= f.password_field :password, required: true, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
    </div>
  <% end %>

  <% unless user.assistant? %>
    <div class="field form-group">
      <%= f.label :assistant_id, "Assistant" %>
      <%= f.collection_select :assistant_id, User.assistant, :id, :name, {prompt: "Select an assistant"}, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <br><%= f.submit(user.new_record? ? "Sign up" : "Save", class: "btn btn-primary") %>
  </div>
<% end %>
