<p>
  <strong>Name:</strong>
  <%= @user.name %> <em>(<%= @user.role %>)</em>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.client? %>
  <p>
    <strong>Assistant:</strong>
    <%= @user.assistant.name %>
  </p>
<% else %>
  <p>
    <strong>Clients:</strong>
    <ul>
      <% @user.clients.each do |client| %>
        <%= content_tag :li, link_to(client.name, user_path(client)) %>
      <% end %>
    </ul>
  </p>
<% end %>

<p><%= link_to 'Edit', edit_user_path(@user) if current_user == @user %></p>
<p><%= link_to 'Back', users_path unless current_user.client? %></p>
