<div class="card user-card">
  <h4>Name</h4>
  <p><%= @user.name %> <em>(<%= @user.role %>)</em></p>

  <h4>Email</h4>
  <p><%= @user.email %></p>

  <% if @user.client? %>
    <h4>Assistant</h4>
    <p><%= @user.assistant.name %></p>
  <% else %>
    <h4>Clients</h4>
    <ul>
      <% @user.clients.each do |client| %>
        <%= content_tag :li, link_to(client.name, user_path(client)) %>
      <% end %>
    </ul>
  <% end %>
  <p><%= link_to 'Edit', edit_user_path(@user) if current_user == @user %></p>
</div>

<%= render partial: 'tasks/task_card', collection: @user.delegated_tasks, as: :task, locals: {tab: :index} if current_user.assistant? %>
