<div id="user-card" class="card user-card" data-user="<%= @user.id %>">
  <h4>Name</h4>
  <p class="editable" data-type="name"><%= @user.name %> <em>(<%= @user.role %>)</em></p>
  <input type="text" style="display: none;" class="form-control user-info user-info-name col-md-11 ml-4" name="user[name]" value="<%= @user.name %>">
  <h4>Email</h4>
  <p class="editable" data-type="email"><%= @user.email %></p>
  <input type="text" style="display: none;" class="form-control user-info user-info-email col-md-11 ml-4" name="user[email]" value="<%= @user.email %>">

  <% if @user.client? %>

    <h4>Assistant</h4>
    <p><%= @user.assistant.name %></p>

  <% else %>

    <h4>Clients</h4>
    <ul>
      <% @user.clients.each do |client| %>
        <%= content_tag(:li, policy(client).show? ? link_to(client.name, user_path(client)) : client.name) %>
      <% end %>
    </ul>

  <% end %>

  <p><%= link_to('Edit', edit_user_path(@user)) + " | " if policy(@user).update? %><%= link_to 'Users', users_path %></p>

</div>

<%= render partial: 'tasks/task_card', collection: policy_scope(@user.tasks), as: :task, locals: {tab: :index} %>
