<%= form_tag '#', data: { task: "{{newComment.task.id}}" }, method: :post, class: "ajax-comment", onsubmit: "submitComment(event, this);" do %>
  <article class="card comment-card new-comment-card">
    <input type="hidden" value="{{newComment.task.id}}" name="comment[task_id]" id="comment_task_id">
    <input value="<%= current_user.id %>" type="hidden" name="comment[author_id]" id="comment_author_id">
    <div class="card-header">
      <h6 class="card-title"><strong>New comment for <em>"{{newComment.task.title}}":</em></strong></h6>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="comment-image col-md-2">
          <img src="<%= current_user.avatar_url %>" alt="<%= current_user.name %>">
        </div>
        <div class="new-comment-content col-md-10">
          <textarea placeholder="Write your comment here..." rows="3" name="comment[content]" id="comment_content"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span class="text-muted float-left"><em>Logged in as <%= current_user.name %></em></span>
      <%= submit_tag "Create Comment", class: "btn btn-primary float-right" %>
    </div>
  </article>
<% end %>
