<nav id="top-bar" class="navbar navbar-light navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapsible">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Cadu", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarCollapsible">
    <div class="navbar-nav">
      <% if logged_in? %>
        <%= link_to "Tasks", tasks_path, class: "nav-item nav-link #{"active" if current_page?(tasks_path) || current_page?(root_path)}" %>
        <%= link_to "Labels", labels_path, class: "nav-item nav-link #{"active" if current_page?(labels_path)}" %>
        <%= link_to "My Profile", user_path(current_user), class: "nav-item nav-link #{"active" if current_page?(user_path(current_user))}" %>
        <%= link_to "User Pages", users_path, class: "nav-item nav-link #{"active" if current_page?(users_path)}" unless current_user.client? %>
        <%= link_to "Log out", logout_path, method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "nav-item nav-link #{"active" if current_page?(login_path)}" %>
        <%= link_to "Sign up", signup_path, class: "nav-item nav-link #{"active" if current_page?(signup_path)}" %>
      <% end %>
    </div>
  </div>
</nav>
