<nav id="top-bar" class="navbar navbar-light navbar-toggleable-md">
  <%= link_to "Cadu", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <%= link_to "Tasks", tasks_path, class: "nav-item nav-link" %>
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "nav-item nav-link" %>
        <%= link_to "Sign up", signup_path, class: "nav-item nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
