<!DOCTYPE html>
<html>
  <head>
    <title>Cadu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container-fluid">

      <section id="messages" class="row">
        <%= content_tag(:div, flash[:error], :id => "flash_error", class: "col-md-8 col-md-offset-2") if flash[:error] %>
        <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "col-md-8 col-md-offset-2") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert", class: "col-md-8 col-md-offset-2") if flash[:alert] %>
        <%= content_tag(:div, flash[:message], :id => "flash_message", class: "col-md-8 col-md-offset-2") if flash[:message] %>
      </section>

      <%= yield %>

    </main>
  </body>
</html>
